
<div class="header">
        <div ng-include src="'partials/header.html'"></div>
        <h3 class="text-muted">Current Orders</h3>
</div>

<div id="current-orders">
	<div style='color: #9d5150; background-color: #ffffff; margin-bottom: 2px; margin-right: 0px; margin-left: 0px;'
    ng-repeat="order in currentOrders"
    ng-controller="OrderController"
    ng-click="progressOrder()"
    class = "displaybubble"
    ng-class="{1: 'active', 2: 'inactive', 3: 'complete'}[order.orderStatus]">

    <div id = 'order-div' style='display:table; width:100%'>
      <div id = 'table-row' style='display:table-row;'>
        <div id = 'order-status' style='display:table-cell; width:5%;'>
        </div>
        <div id = 'order-details' style='display:table-cell; width:20%;'>
          <div id = 'order-number' class='displaybubblemenu'>
            {{ order.orderId }}
          </div>
          <div id = 'order-time' class='displaybubblemenu'>
            0:30
          </div>
        </div>

        <div id = 'order-items' style='display:table-cell; width:55%; margin-left:10px; margin-right:10px;'>
        <ul class="menu-group">
          <li
            ng-repeat="orderItem in order.orderItems"
            style='background-color: #d7d7d7; text-align: left; font-weight:500;'
            class = "menu-group-item">{{ orderItem.quantity }} x {{ orderItem.item.name }}
          </li>
        </ul>
      </div>

      <div id = 'order-contact-details' style='display:table-cell; width:20%;'>
        <div id = 'contact-details' class='displaybubblemenu'>
          {{ order.mobileNumber }}<br>{{order.name}}
        </div>
      </div>
    </div>
  </div>

	</div>
</div>

<div class="jumbotron" id='order-options'>
  <p class="lead">
    <h3 class="test-muted">Something here about options</h3>
  </p>
  <p><div class="btn btn-lg btn-success" ng-click="SomeOrderButton()">Do Something</div></p>
</div>
